<a href="https://colab.research.google.com/github/Bullbotbam/dphi_notbook/blob/main/dphi_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import pandas as pd
sma_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv')

In [89]:
sma_data.shape

(99, 10)

In [90]:
sma_data.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [91]:
import pandas as pd

In [92]:
sma_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv')

In [93]:
sma_data.iloc[9, :]

land_area          4647.0
percent_city         31.5
percent_senior        9.2
physicians         3916.0
hospital_beds     12815.0
graduates            65.1
work_force         1032.2
income            14542.0
region                2.0
crime_rate           55.3
Name: 9, dtype: float64

In [119]:
sorted_data1 = sma_data.sort_values(by = 'crime_rate', ascending=False)

In [120]:
sorted_data1.region.head()

20    4
74    4
53    4
4     4
67    4
Name: region, dtype: int64